<!DOCTYPE html>
<html>
<head>
    <title>Aplikasi Manajemen Perpustakaan | KK-3</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="http://localhost:3000/assets/jquery-4.0.0.min.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <button class="btn btn-success">Tambah Buku</button>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                    <tr>
                        <th>No.</th>
                        <th>Judul</th>
                        <th>Penulis</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
    <script type="text/javascript" src="scripts/tbValue.js"></script>
</body>
</html>
